<section class="vh-100" style="background-color: #2779e2;">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-xl-9">

          <h1 class="text-white mb-4">Registrar Cuentas Claras</h1>
  
          <div class="card fondo texto" style="border-radius: 15px;">
            <div class="card-body">
  
              <div class="row align-items-center pt-4 pb-3">
                <div class="col-md-3 ps-5">
  
                  <h6 class="mb-0">Nombre de Usuario</h6>
  
                </div>
                <div class="col-md-9 pe-5">
  
                  <input type="text" name="nombreUsuario" [(ngModel)]="nombreUsuario" class="form-control form-control-lg" required>
  
                </div>
              </div>

              <div class="row align-items-center pt-4 pb-3">
                <div class="col-md-3 ps-5">
  
                  <h6 class="mb-0">Apellido/s</h6>
  
                </div>
                <div class="col-md-9 pe-5">
  
                  <input type="text" name="apellido" [(ngModel)]="apellido" class="form-control form-control-lg" />
  
                </div>
              </div>

              <div class="row align-items-center pt-4 pb-3">
                <div class="col-md-3 ps-5">
  
                  <h6 class="mb-0">Nombre/s</h6>
  
                </div>
                <div class="col-md-9 pe-5">
  
                  <input type="text" name="nombre" [(ngModel)]="nombre"  class="form-control form-control-lg" />
  
                </div>
              </div>
  
              <hr class="mx-n3">
  
              <div class="row align-items-center py-3">
                <div class="col-md-3 ps-5">
  
                  <h6 class="mb-0">Email</h6>
  
                </div>
                <div class="col-md-9 pe-5">
  
                  <input type="email" name="emailUsuario" [(ngModel)]="emailUsuario" class="form-control form-control-lg" placeholder="example@example.com" />
  
                </div>
              </div>

              <hr class="mx-n3">
  
              <div class="row align-items-center py-3">
                <div class="col-md-3 ps-5">
  
                  <h6 class="mb-0">Contraseña</h6>
  
                </div>
                <div class="col-md-9 pe-5">
  
                  <input type="password" name="contrasena" [(ngModel)]="contrasena" class="form-control form-control-lg"  />
  
                </div>
              </div>

              <hr class="mx-n3">
  
              <div class="row align-items-center py-3">
                <div class="col-md-3 ps-5">
  
                  <h6 class="mb-0">Confirmar Contraseña</h6>
  
                </div>
                <div class="col-md-9 pe-5">
  
                  <input type="password" name="confirmacionContrasena" [(ngModel)]="confirmacionContrasena" class="form-control form-control-lg" />
  
                </div>
              </div>
              <hr class="mx-n3">
  
              <div class="px-5 py-4">
                <button type="submit" class="btn btn-primary btn-lg " (click)="registrarUsuario()">Registrar</button>

                <button type="submit" class="btn btn-primary btn-lg bottonRegistrar" (click)="volver()">Cancelar</button>
              </div>
  
            </div>
          </div>
  
        </div>
      </div>
    </div>
  </section>