<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
</head>

<body>
    <!-- Responsive navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container px-5">
            <a class="navbar-brand" href="#!">Cuentas Claras</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a class="nav-link active" aria-current="page" href="/home">Home</a></li>
                    <li class="nav-item"><a class="nav-link" (click)="redirectGrupo()" href="/grupo">Grupos</a></li>
                    <li class="nav-item"><a class="nav-link" (click)="redirectGasto()" href="/gasto">Gastos</a></li>
                    <button class="btn btn-outline-light px-2" type="submit" (click)="logout()">Salir</button>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Header-->
    <div class="py-5 container px-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-6">
                <div class="text-center my-5">
                    <h1 class="titulo-color">Editar Grupo de Amigos</h1>
                    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section style="width: 50%; margin-left: 20%;">
        <form>
            <!-- Lista desplegable para categorías -->
            <div class="form-group">
              <label for="categoriaSelect">Seleccione una categoría</label>
              <select class="form-control" [(ngModel)]="categoria" name="categoria" id="categoriaSelect">
                <option *ngFor="let cate of listaCategoriasGrupo" value="{{ cate.idCategoriaGrupos }}">{{
                    cate.nombreTipoGrupo }}</option>>
              </select>
            </div>
          
            <!-- Campo para el nombre del grupo -->
            <div class="form-group">
              <label for="nombreGrupo">Nombre del Grupo</label>
              <input type="text" [(ngModel)]="nombreGrupo" name="nombreGrupo" class="form-control" id="nombreGrupo" placeholder="Ingrese el nombre del grupo">
            </div>
          
            <br>
            <br>
            <button class="btn btn-outline-secondary px-5 " type="submit"  (click)="editar()">Editar</button>
            <button class="btn btn-outline-secondary px-5 " style="margin-left: 10px;" (click)="cancelar()">Cancelar</button>
          </form>
    </section>

    <!-- Footer-->
    <footer class="py-5 bg-dark posicionar-abajo">
        <div class="container px-5">
            <p class="m-0 text-center text-white">Copyright &copy; Cuentas Claras 2023</p>
        </div>
    </footer>
</body>