<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
</head>

<body>
    <!-- Responsive navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container px-5">
            <a class="navbar-brand" href="#!">Cuentas Claras</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a class="nav-link active" aria-current="page" href="/home">Home</a></li>
                    <li class="nav-item"><a class="nav-link" (click)="redirectGrupo()" href="/grupo">Grupos</a></li>
                    <li class="nav-item"><a class="nav-link" (click)="redirectGasto()" href="/gasto">Gastos</a></li>
                    <button class="btn btn-outline-light px-2" type="submit" (click)="logout()">Salir</button>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Header-->
    <div class="container px-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-6">
                <div class="text-center my-5">
                    <h1 class="titulo-color">Crear Gasto</h1>
                    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section style="width: 50%; margin-left: 20%;">
        <form>
            <div class="form-group">
                <label for="tipoDeGasto">Tipo de gasto</label>
                <select class="form-control" [(ngModel)]="tipoGasto" name="tipoGasto" id="tipoGasto">
                    <option value="Individual">Individual</option>
                    <option value="Grupal">Grupal</option>
                </select>
            </div>
            <div class="form-group py-2">
                <label for="nombreGrupo">Nombre del Grupo</label>
                <input type="text" class="form-control" [(ngModel)]="nombreGrupo" name="nombreGrupo" id="nombreGrupo"
                    placeholder="Ingrese el nombre del grupo">
            </div>

            <div class="form-group py-2">
                <label for="categoriaSelect">Seleccione una categoría</label>
                <select class="form-control" [(ngModel)]="idCategoriaGastos" name="idCategoriaGastos"
                    id="categoriaSelect">

                    <option *ngFor="let cate of listaCategoriaGasto" value="{{ cate.idCategoriaGastos }}">{{
                        cate.nombreTipoGasto }}</option>

                </select>
            </div>
            <div class="form-group py-2">
                <label for="montoGasto">Monto gasto</label>
                <input type="number" class="form-control" [(ngModel)]="montoGasto" name="montoGasto" id="montoGasto"
                    placeholder="Ingrese el monto del gasto">
            </div>
            <div class="form-group py-2">
                <label for="fechaGasto">fecha del gasto</label>
                <input type="date" class="form-control" [(ngModel)]="fechaGasto" name="fechaGasto" id="fechaGasto">
            </div>
            <div class="form-group py-4">
                <label for="image">Seleccionar Imagen: </label>
                <input type="file" id="image" (change)="handleImageChange($event)" accept="image/*" />
            </div>

            <div class="form-group py-2">
                <label for="realizoGasto">Integrante que realizo el gasto</label>
                <input type="email" class="form-control" [(ngModel)]="emailGastoIntegrante" name="emailGastoIntegrante"
                    id="emailIntegrante" placeholder="Ingrese quien realizo el gasto">
            </div>
            <div class="form-group ">
                <label for="dividirGasto">Seleccione la forma de dividir el gasto</label>
                <select class="form-control" [(ngModel)]="formaDividirGasto" name="formaDividirGasto" id="dividiGasto">
                    <option value="Igual Para Todos">Igual Para Todos</option>
                    <option value="Monto Fijo">Monto Fijo</option>
                    <option value="Por Porcentaje">Por Porcentaje</option>
                </select>
            </div>
            <div class="form-group py-2">
                <label for="valor">Valor</label>
                <input type="number" class="form-control" [(ngModel)]="valor" name="valor" id="emailIntegrante"
                    placeholder="Ingrese el valor">
            </div>
            <br>
            <button class="btn btn-outline-secondary px-5 " type="submit" (click)="crear()">Crear</button>
            <button class="btn btn-outline-secondary px-5 " style="margin-left: 10px;" (click)="cancelar()">Cancelar</button>
        </form>
    </section>

    <!-- Footer-->
    <footer class="py-5 bg-dark posicionar-abajo">
        <div class="container px-5">
            <p class="m-0 text-center text-white">Copyright &copy; Cuentas Claras 2023</p>
        </div>
    </footer>
</body>