<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
</head>

<body>
    <!-- Responsive navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container px-5">
            <a class="navbar-brand" href="/">Cuentas Claras</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a class="nav-link active" aria-current="page" href="/home">Home</a></li>
                    <li class="nav-item"><a class="nav-link" (click)="redirectGrupo()" href="/grupo">Grupos</a></li>
                    <li class="nav-item"><a class="nav-link" (click)="redirectGasto()" href="/gasto">Gastos</a></li>
                    <button class="btn btn-outline-light px-2" type="submit" (click)="logout()">Salir</button>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Header-->
    <div class="py-5 container px-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-6">
                <div class="text-center my-5">
                    <h1 class="titulo-color">Cuentas Claras</h1>
                    <p class="texto-color">Puedes pagar todo los gastos en conjunto haciendo grupo o de manera
                        individual</p>
                    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Features section-->
    <section class="py-5" id="features">
        <div class="container px-5 my-5">
            <div class="row gx-5">
                <div class="col-lg-4 mb-5 mb-lg-0">
                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i
                            class="bi bi-collection"></i></div>
                    <h2 class="h4 fw-bolder">De que se trata?</h2>
                    <p>Se trata de una plataforma para mantener y liquidar gastos entre grupos o de manera individual
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- Footer-->
    <footer class="py-5 bg-dark posicionar-abajo">
        <div class="container px-5">
            <p class="m-0 text-center text-white">Copyright &copy; Cuentas Claras 2023</p>
        </div>
    </footer>
</body>