.titulo-color{
    color: black;
    font-weight: bolder !important;
}

.texto-color{
    color: black;
}

.posicionar-abajo{
    position:fixed;
    left:0px;
    bottom:0px;
    height:30px;
    width:100%;
    background:#999;
}