<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
</head>

<body>
    <!-- Responsive navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container px-5">
            <a class="navbar-brand" href="#!">Cuentas Claras</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a class="nav-link active" aria-current="page" href="/home">Home</a></li>
                    <li class="nav-item"><a class="nav-link" (click)="redirectGrupo()" href="/grupo">Grupos</a></li>
                    <li class="nav-item"><a class="nav-link" (click)="redirectGasto()" href="/gasto">Gastos</a></li>
                    <button class="btn btn-outline-light px-2" type="submit" (click)="logout()">Salir</button>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Header-->
    <div class="py-5 container px-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-6">
                <div class="text-center my-5">
                    <h1 class="titulo-color">Lista de Gastos</h1>
                    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Features section-->

    <table class="table estilo-tabla">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Monto Gasto</th>
                <th scope="col">Fecha del Gasto</th>
                <th scope="col">Imagen Asociada</th>
                <th scope="col">Realizo el Gasto</th>
                <th scope="col">Forma de Dividir el Gasto</th>
                <th scope="col">Nombre categoria Gasto</th>     
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let gasto of listaGastosGrupal">
                <td>{{ gasto.montoGasto }}</td>
                <td>{{ gasto.fechaGasto }}</td>
                <td>{{ gasto.imagenAsociada }}</td>
                <td>{{ gasto.emailGastoIntegrante }}</td>
                <td>{{ gasto.formaDividirGasto }}</td>
                <td>{{ gasto.categoriaGasto.nombreTipoGasto }}</td>
                <td> <button class="btn btn-outline-secondary px-5 estilo-boton" type="submit"  (click)="editaGasto(gasto)">Editar Grupo</button></td>
            </tr>
        </tbody>
    </table>
    <button class="btn btn-outline-secondary px-5 estilo-boton" type="submit"  (click)="crearGasto()">Crear Gasto</button>
    <!-- Footer-->
    <footer class="py-5 bg-dark posicionar-abajo">
        <div class="container px-5">
            <p class="m-0 text-center text-white">Copyright &copy; Cuentas Claras 2023</p>
        </div>
    </footer>
</body>