.posicionar-abajo{
    position:fixed;
    left:0px;
    bottom:0px;
    height:30px;
    width:100%;
    background:#999;
}

.estilo-boton{
    margin-left: 5%;
}
.estilo-tabla{
    margin-left: 5%;
    width: 90%;
}

.texto-color{
    color: black;
}